* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(./livingroom.jpg) no-repeat center/cover;
    height: 100vh;
}

h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
    text-shadow: 1px 1px 20px black;
    font-size: 3em;
}