html {
    font: 16px/1.5 Helvetica, sans-serif;
    padding: 30px;
}

header {
    border-bottom: 2px solid black;
}

header h1 {
    display: inline-block;
}

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    padding: 20px;
    color: green;
}

main h1{
font-weight: 100;
font-family: 'Times New Roman', Times, serif;
}