@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&family=PT+Sans&family=PT+Serif&family=Raleway:ital,wght@0,300;1,200&display=swap');

body {
    font-family: Montserrat, sans-serif;
    padding: 16px;
}

th {
    background-color: lightblue;
}

tr td {
    border: 1px solid #ccc;
    width: 144px;
    height: 32px;
    padding-left: 5px;
}