html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    margin: 5em;
}

article {
    width: 200px;
    padding-right: 2em;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.2;
}

p {
    font-size: 13px;
}