body {
    font: 18px/1.5 Verdana, Geneva, Tahoma, sans-serif
}

ul {
    list-style: none;
}

i {
    padding-right: 5px;
}

.check i{
    font-size: 25px;
    color: #2fcc71;
}

.star i {
    font-size: 25px;
    color: coral;
}

.contact i {
    font-size: 25px;
    color: #3498da;
}