body{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 320px;
    padding-left: 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.3);
}