body {
    background-color: rgb(238, 238, 238);
    margin: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

header p {
    border-bottom: 0.1em solid black;
    padding-bottom: 1em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.65em;
    text-transform: uppercase;
}

img {
    border: 4px solid black;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}

.first-article img {
    float: right;
    margin-left: 1.3em;
    margin-bottom: 1.3em;
    /* за Judge не се знаели ще работи така */
    margin-top: -1.7em;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main {
    width: 70%;
}

aside {
    width: 25%;
}

.blog-content {
    display: flex;
    flex-direction: row-reverse;
}

.blog-content p {
    width: 100%;
}

.blog-content blockquote p {
    text-align: right;
}

blockquote {
    width: 80%;
    border-left: 2px solid rgb(118, 118, 118);;
    padding-left: 1.3em;
    font-family: Georgia, serif;
    font-style: italic;
    color: rgb(118, 118, 118);;
}

aside a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

.third-section img{
    float: left;
    margin-right: 1.3em;
}