body {
    background-color: lightslategray;
}

p {
    color: #fff;
    background-color: #0F4069;
    border: 2px solid #e6eaef;
    border-top-right-radius: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 15px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}